{% extends "layout.html" %}

{% block content %}

<div class="container">

    <style type="text/css">
        body {
            background: cornsilk;
            font-family: "Comic Sans MS";
            color: crimson;
        }
    </style>

    <h1> Premier League Standings: Top 6 Teams</h1>

    <h6>As of 2/24/2019</h6>

    <table class="table table-hover">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Club</th>
            <th scope="col">Location</th>
            <th scope="col">Points</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Liverpool</td>
            <td>Liverpool</td>
            <td>66</td>
          </tr>

          <tr>
              <th scope="row">2</th>
              <td>Manchester City</td>
              <td>Manchester</td>
              <td>65</td>
          </tr>

          <tr>
              <th scope="row">3</th>
              <td>Tottenham</td>
              <td>London</td>
              <td>60</td>
          </tr>

          <tr>
              <th scope="row">4</th>
              <td>Arsenal</td>
              <td>London</td>
              <td>53</td>
          </tr>

          <tr>
              <th scope="row">5</th>
              <td>Manchester United</td>
              <td>Manchester</td>
              <td>52</td>
          </tr>

          <tr>
              <th scope="row">6</th>
              <td>Chelsea</td>
              <td>London</td>
              <td>50</td>
          </tr>
        </tbody>

    </table>

    <a href="https://www.skysports.com/premier-league-table">View in depth table for Premier League 2018/19</a>

</div>

{% endblock %}
